.container {
  height: 100vh;
  max-width: 992px;
  margin: 0 auto;
  padding: 2.5rem 2rem;

  display: flex;
  flex-direction: column;
}
.container section {
  flex: 1;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6.25rem;
  align-content: center;
}
@media (min-width: 200px) and (max-width: 499px) {
  .container {
    padding: 1rem;
  }
  .container section {
    display: block;
    margin: 2rem;
  }
}
@media (min-width: 500px) and (max-width: 768px) {
  .container {
    padding: 3.5rem 2rem;
  }
  .container section {
    display: block;
    margin: 2rem;
  }
}
